
@font-face {
    font-family:"AxisStd-Light";
    src:url("AxisStd-Light.woff2") format("woff2"),url("AxisStd-Light.woff") format("woff"),url("AxisStd-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        