
@font-face {
    font-family:"AxisStd-Regular";
    src:url("AxisStd-Regular.woff2") format("woff2"),url("AxisStd-Regular.woff") format("woff"),url("AxisStd-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        