
@font-face {
    font-family:"AxisStd-ExtraLight";
    src:url("AxisStd-ExtraLight.woff2") format("woff2"),url("AxisStd-ExtraLight.woff") format("woff"),url("AxisStd-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        